.header {
  background-color: #F7F9FA;
  width: 100%;
  height: 40px;
}

.header .header_content {
  width: 1200px;
  height: 100%;
  margin: 0 auto;
  font-size: 12px;
  color: #6C7073;
  border-bottom: 1px solid #F0F1F2;
}

.header .header_content a {
  color: #6C7073;
}

.header .header_content a:hover {
  text-decoration: none;
  color: #1897F2;
}

.header .header_content .header_content_1 {
  width: 94px;
  line-height: 24px;
  color: #6c7073;
  padding: 8px 24px 8px 0;
  float: left;
}

.header .header_content .header_content_2 {
  float: left;
  padding-left: 24px;
  line-height: 40px;
}

.header .header_content .header_content_3 {
  width: auto;
  height: 100%;
  float: right;
  line-height: 40px;
  font-size: 12px;
}

.header .header_content .header_content_3 a {
  cursor: pointer;
}

.header .header_content .header_content_3 > div {
  display: inline-block;
}

.header .header_content .header_content_3 .hellow {
  display: inline-block;
  max-width: 170px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  line-height: 14px;
  vertical-align: middle;
}

.header .header_content .header_content_3 .glyphicon-shopping-cart {
  font-size: 16px;
  position: relative;
  top: 3px;
}

.header .header_content .header_content_3 .shopping_number {
  display: inline-block;
  background-color: #1897F2;
  padding: 0 3px;
  margin-left: 4px;
  line-height: 18px;
  border-radius: 50%;
  color: white;
}

.search {
  width: 100%;
  height: 64px;
  border-bottom: 1px solid #F0F1F2;
}

.search .search_content {
  width: 1200px;
  height: 100%;
  margin: 0 auto;
}

.search .search_content a:hover {
  text-decoration: none;
}

.search .search_content .search_content_1 {
  float: left;
  height: 100%;
  width: 106px;
  line-height: 64px;
}

.search .search_content .search_content_1 img {
  display: inline-block;
}

.search .search_content .search_content_1 a {
  color: black;
  font-size: 18px;
}

.search .search_content .search_content_1 a:nth-child(2) {
  padding-left: 8px;
}

.search .search_content .search_content_2 {
  height: 100%;
  margin-left: 46px;
  float: left;
}

.search .search_content .search_content_2 ul {
  float: left;
}

.search .search_content .search_content_2 ul li {
  float: left;
  margin: 0 16px;
  line-height: 64px;
  font-size: 14px;
}

.search .search_content .search_content_2 ul li a {
  color: black;
}

.search .search_content .search_content_2 ul li a:hover {
  color: #1897F2;
}

.search .search_content .search_content_2 ul li .glyphicon-menu-down {
  font-size: 10px;
  color: gray;
}

.search .search_content .search_content_3 {
  width: 282px;
  height: 48px;
  float: right;
  margin-top: 8px;
  border-bottom: 1px solid #1897F2;
}

.search .search_content .search_content_3 .search_content_3_input {
  width: 234px;
  height: 48px;
  float: left;
  display: flex;
}

.search .search_content .search_content_3 .search_content_3_input input {
  width: 202px;
  height: 23px;
  margin: auto;
  outline: none;
  border: none;
}

.search .search_content .search_content_3 .search_content_3_button {
  width: 48px;
  height: 48px;
  float: right;
  display: flex;
}

.search .search_content .search_content_3 .search_content_3_button span {
  font-size: 24px;
  margin: auto;
  cursor: pointer;
}

.search .search_content .search_content_3 .search_content_3_button span:hover {
  color: #1897F2;
}

.detail {
  width: 100%;
  height: auto;
  margin-top: 30px;
}

.detail .detail_content {
  width: 1200px;
  height: auto;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

.detail .detail_content .img_outbox {
  width: 656px;
  height: 653px;
}

.detail .detail_content .img_outbox .big_img_box {
  width: 569px;
  height: 569px;
  margin: 0 auto;
  display: flex;
}

.detail .detail_content .img_outbox .big_img_box img {
  max-width: 569px;
  max-height: 569px;
  margin: auto;
  display: none;
}

.detail .detail_content .img_outbox .small_img_box {
  width: 100%;
  height: 68px;
  margin-top: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.detail .detail_content .img_outbox .small_img_box img {
  width: 48px;
  height: 48px;
  margin-right: 16px;
  cursor: pointer;
}

.detail .detail_content .img_outbox .small_img_box .active {
  border: 2px solid gray;
}

.detail .detail_content .img_outbox .small_img_box span {
  font-size: 14px;
  cursor: pointer;
  margin-right: 16px;
}

.detail .detail_content .information_outbox {
  width: 500px;
}

.detail .detail_content .information_outbox .information_name {
  font-size: 32px;
}

.detail .detail_content .information_outbox .information_price {
  font-size: 24px;
}

.detail .detail_content .information_outbox .information_payway {
  font-size: 14px;
}

.detail .detail_content .information_outbox .information_describe ul li {
  font-size: 14px;
  list-style: inside;
  color: #878787;
  margin: 5px 0;
}

.detail .detail_content .information_outbox .information_concept {
  margin: 10px 0;
}

.detail .detail_content .information_outbox .information_concept a {
  color: #4CA7FA;
}

.detail .detail_content .information_outbox .information_expressage {
  margin: 20px 0;
}

.detail .detail_content .information_outbox .information_expressage span {
  color: #A9A9A9;
}

.detail .detail_content .information_outbox .information_activity {
  margin: 20px 0;
}

.detail .detail_content .information_outbox .information_activity span {
  color: #A9A9A9;
}

.detail .detail_content .information_outbox .information_return {
  margin: 20px 0;
}

.detail .detail_content .information_outbox .information_return span {
  color: #A9A9A9;
}

.addCar {
  width: 100%;
  height: 80px;
  position: fixed;
  left: 0;
  bottom: 0;
  display: flex;
  box-shadow: 0px 4px 28px 0px rgba(0, 0, 0, 0.4);
}

.addCar .addCar_content {
  width: 1200px;
  height: 48px;
  margin: auto;
  display: flex;
  justify-content: space-between;
}

.addCar .addCar_content .addCar_content_text > p {
  margin: 0;
}

.addCar .addCar_content .addCar_content_text > p span:nth-child(1) {
  font-size: 20px;
}

.addCar .addCar_content .addCar_content_button {
  width: 192px;
  height: 48px;
  background-color: #289AFF;
  text-align: center;
  line-height: 48px;
  border-radius: 5px;
  color: white;
  font-size: 16px;
  cursor: pointer;
  position: relative;
}

.addCar .addCar_content .addCar_content_button .addOne {
  position: absolute;
  top: -39px;
  left: 50%;
  transform: translateX(-50%);
  font-size: 26px;
  font-weight: bold;
  color: #289AFF;
  display: none;
}
