// 阴影 box-shadow: 0px 4px 28px 0px rgba(0, 0, 0, 0.08);
// 下阴影  box-shadow: 0 15px 15px -10px rgba(0, 0, 0, 0.15);
// =================页头header================================
.header {
    background-color: #F7F9FA;
    width: 100%;
    height: 40px;
    .header_content {
        width: 1200px;
        height: 100%;
        margin: 0 auto;
        // background-color: aqua;
        font-size: 12px;
        color: #6C7073;
        border-bottom: 1px solid #F0F1F2;
        a {
            color: #6C7073;
        }
        a:hover {
            text-decoration: none;
            color: #1897F2;
        }
        .header_content_1 {
            width: 94px;
            line-height: 24px;
            color: #6c7073;
            padding: 8px 24px 8px 0;
            // background-color: brown;
            float: left;
        }
        .header_content_2 {
            float: left;
            // background-color: chocolate;
            padding-left: 24px;
            line-height: 40px;
        }
        .header_content_3 {
            width: auto;
            // background-color: palevioletred;
            height: 100%;
            float: right;
            line-height: 40px;
            font-size: 12px;
            &>div {
                display: inline-block;
            }
            a {
                cursor: pointer;
            }
            // 你好，名字
            .hellow {
                display: inline-block;
                max-width: 170px;
                overflow: hidden;
                white-space: nowrap;
                text-overflow: ellipsis;
                line-height: 14px;
                vertical-align: middle;
            }
            .glyphicon-shopping-cart {
                font-size: 16px;
                position: relative;
                top: 3px;
            }
            .shopping_number {
                display: inline-block;
                background-color: #1897F2;
                padding: 0 3px;
                margin-left: 4px;
                line-height: 18px;
                border-radius: 50%;
                color: white;
            }
        }
    }
}

// =================搜索栏 search================================
.search {
    width: 100%;
    height: 64px;
    border-bottom: 1px solid #F0F1F2;
    // background-color: yellowgreen;
    .search_content {
        width: 1200px;
        height: 100%;
        margin: 0 auto;
        // background-color: palevioletred;
        a:hover {
            text-decoration: none;
        }
        .search_content_1 {
            float: left;
            height: 100%;
            width: 106px;
            line-height: 64px;
            // background-color: paleturquoise;
            img {
                display: inline-block;
            }
            a {
                color: black;
                font-size: 18px;
                &:nth-child(2) {
                    padding-left: 8px;
                }
            }
        }
        .search_content_2 {
            height: 100%;
            margin-left: 46px;
            // background-color: palegreen;
            float: left;
            ul {
                float: left;
                li {
                    float: left;
                    margin: 0 16px;
                    line-height: 64px;
                    font-size: 14px;
                    a {
                        color: black;
                        &:hover {
                            color: #1897F2;
                        }
                    }
                    .glyphicon-menu-down {
                        font-size: 10px;
                        color: gray;
                    }
                }
            }
        }
        .search_content_3 {
            width: 282px;
            height: 48px;
            float: right;
            // background-color: orange;
            margin-top: 8px;
            border-bottom: 1px solid #1897F2;
            .search_content_3_input {
                width: 234px;
                height: 48px;
                float: left;
                display: flex;
                input {
                    width: 202px;
                    height: 23px;
                    margin: auto;
                    outline: none;
                    border: none;
                }
            }
            .search_content_3_button {
                width: 48px;
                height: 48px;
                // background-color: orangered;
                float: right;
                display: flex;
                span {
                    font-size: 24px;
                    margin: auto;
                    cursor: pointer;
                    &:hover {
                        color: #1897F2;
                    }
                }
            }
        }
    }
}

// =================商品栏 goods================================
.goods {
    width: 100%;
    height: auto;
    background-color: #F0F1F2;
    padding-top: 30px;
    padding-bottom: 40px;
    .goods_container {
        width: 1216px;
        height: auto;
        // background-color: aqua;
        margin: 0 auto 40px;
        position: relative;
        left: 8px;
        display: flex;
        flex-wrap: wrap;
        justify-content: start;
        a {
            color: black;
            font-size: 18px;
            &:hover {
                text-decoration: none;
            }
        }
        section {
            width: 288px;
            height: 420px;
            background-color: white;
            margin-bottom: 16px;
            margin-right: 16px;
            cursor: pointer;
            &:hover {
                box-shadow: 0px 4px 28px 0px rgba(0, 0, 0, 0.20);
            }
            &>div {
                width: 288px;
                height: 288px;
                display: flex;
                img {
                    width: 256px;
                    height: 256px;
                    margin: auto;
                }
            }
            p {
                font-size: 18px;
                text-align: center;
                margin-top: 24px;
            }
        }
    }
    // 分页器
    .page {
        &>div {
            height: 30px;
            text-align: center;
            line-height: 30px;
            border-radius: 3px;
            cursor: pointer;
            &>p {
                width: 30px;
                height: 30px;
                text-align: center;
                line-height: 30px;
                border-radius: 5px;
                border-radius: 3px;
                cursor: pointer;
            }
        }
    }
}